
EntityWorldTextPanel
{
  justify-content: center;
  align-items: center;
  opacity: 1;
}

label
{
  font-family: Poppins;
  text-align: center;
  font-weight: 700;
  font-size: 128px;
  color: white;
  opacity: 1;
  //text-shadow: 2px 2px 2px rgba(black, 1);

  background-color: rgba(#111, 0.6);
  border-radius: 40px;
  padding: 10px 20px 10px 20px;
}
