@using Garryware;
@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@namespace Garryware.UI
@attribute [StyleSheet("/ui/GameOver/GameOverScreen.scss")]

<root class="gameover-root">
    
    <div class="content">
        <label @ref="MedalLabel" class="medal"></label>
        <label @ref="ResultLabel" class="medal-text"></label>
        <label @ref="PointsLabel" class="medal-text"></label>
        <div @ref="RoundResults" class="all-round-results"/>
        <div @ref="ScoreboardContainer" class="canvas"/>
    </div>
    
    <div class="top-banner">
        <label>#ui.gameover.header</label>
        <img src="ui/logo-banner.png" class="banner-image" />
    </div>
    
    <div class="bottom-banner">
        <label @ref="ReturnToLobbyTimer"></label>
        <div class="buttons">
            <!--            <button onclick.console="disconnect"><label>⏏ Leave Game</label></button>-->
        </div>
    </div>
    
</root>

@code
{
    public Panel RoundResults { get; set; }
    public Label MedalLabel { get; set; }
    public Label ResultLabel { get; set; }
    public Label PointsLabel { get; set; }
    public Panel ScoreboardContainer { get; set; }
    public Label ReturnToLobbyTimer { get; set; }
    
    protected override void OnAfterTreeRender(bool firstTime)
    {
        base.OnAfterTreeRender(firstTime);
        
        var place = Game.LocalClient.GetInt(Tags.Place, 99);
        var points = Game.LocalClient.GetInt(Tags.Points, 0);
        
        // Update player place and results
        MedalLabel.Text = UiUtility.GetEmojiForPlace(place);
        ResultLabel.Text = $"You came {UiUtility.GetPlaceQualifier(place)}!"; // @localization
        PointsLabel.Text = $"{points} Points"; // @localization
        BuildRoundResults();
        BuildEndOfGameScoreboard();
        Show();
    }

    private async void Show()
    {
        await GarrywareGame.Current.Task.Yield();
        SetClass("open", true);
    }

    public override void Tick()
    {
        base.Tick();

        if (Input.Pressed(InputButton.Menu))
        {
            SetClass("open", !HasClass("open"));
        }

        if(!IsVisible)
            return;

        // Tick the countdown timer down
        if (GarrywareGame.Current.IsCountdownTimerEnabled)
        {
            ReturnToLobbyTimer.Text = $"Returning to lobby in {GarrywareGame.Current.TimeUntilCountdownExpires.Relative:N0} seconds..."; // @localization
        }
        else
        {
            ReturnToLobbyTimer.Text = "Returning to lobby shortly..."; // @localization
        }
    }
    
    private void BuildRoundResults()
    {
        RoundResults.DeleteChildren();
        
        var perRoundResults = Game.LocalClient.GetValue(Tags.PerRoundResults, string.Empty);
        for (int i = 0; i < perRoundResults.Length; ++i)
        {
            // @note: we add a separate entry for every character so that we can animate everything individually eventually, even if we're not doing that yet
            var entry = RoundResults.AddChild<RoundResultEntry>();
            entry.Text = $"{perRoundResults[i]}";
        }
    }

    private void BuildEndOfGameScoreboard()
    {
        ScoreboardContainer.DeleteChildren();

        foreach (var client in Game.Clients)
        {
            var entry = ScoreboardContainer.AddChild<GameOverScoreboardEntry>();
            entry.Client = client;
            entry.ShowLongestStreak = true;
            entry.UpdateData();
        }
        
    }

}
