
$form-row-height: 48px;

$header-background-color: rgba(#131313, 0.9);
$section-background-color: rgba(#131313, 0.4);

$button-background-color: rgba(#131313, 0.8);
$button-background-color-hover: rgba(#131313, 1);
$button-border: 2px solid transparent;
$button-border-hover: 2px solid white;