
@import "_vars.scss";

.player-count
{
  margin-left: 20px;
  font-weight: 400;
  font-size: 16px;
}

h1
{
  width: 100%;
  padding: 10px;
  font-size: 28px;
  font-weight: bold;
  background-color: rgba(black, 0.7);
}

h2
{
  font-size: 22px;
  font-weight: bold;
}

.start-button
{
  cursor: pointer;

  margin-top: 20px;
  padding: 10px;
  
  background-color: rgba(darkgreen, 0.8);
  border: $button-border;
    
  > Label
  {
    font-weight: bold;
    align-self: center;
  }
  
  > .icon
  {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    height: 48px;
    width: 48px;
  }
  
  &:hover
  {
    sound-in: "garryware.menu.hover";
    opacity: 1;
    background-color: forestgreen;
    border: $button-border-hover;
  }

  &:active
  {
    top: 3px;
  }
}

.option
{
  flex-direction: row;
  padding: 10px;
    
  > .vertical
  {
    flex-direction: column;
    width: 100%;
  }
  
  > Label
  {
    font-size: 24px;
    align-self: center;
    min-width: 200px;
  }
}

.textentry
{
  width: 100%;  
  font-size: 20px;
  //border: 1px solid white;
  background-color: rgba(#131313, 0.5);
}
