@using Sandbox
@using Sandbox.Menu
@using Sandbox.UI
@namespace Garryware.UI.GameMenu
@attribute [StyleSheet]
@inherits Panel;

<root onclick="@JoinLobby">
    <label>@(Lobby?.Title ?? "null Lobby")</label>
    <span style="margin-left: auto"></span>
    <label>@Lobby?.MemberCount/@Lobby?.MaxMembers</label>
</root>

@code
{
    public ILobby Lobby { get; set; }

    private async void JoinLobby()
    {
        Log.Info($"Attempting to join lobby {Lobby.Id}");
        
        LoadingOverlay.Show();
        var joinRequest = Lobby.JoinAsync();
        await joinRequest;
        if (joinRequest.Result)
        {
            Log.Info($"Joined lobby {Lobby.Id}, switching to lobby view");
            GarrywareGameMenu.Lobby = Lobby; // @note: set the lobby or it doesn't get set automatically?
            this.Navigate("/lobby");
        }
        else
        {
            Log.Warning($"Failed to join lobby {Lobby.Id}");
        }
        LoadingOverlay.Hide();
    }
    
}
