
@import "_vars.scss";

JoinLobbyButton
{
  width: 100%;
  flex-shrink: 0;
  padding: 10px;
  
  background-color: $button-background-color;
  border: $button-border;
  
  font-size: 18px;

  &:hover
  {
    sound-in: "garryware.menu.hover";
    background-color: $button-background-color-hover;
    border: $button-border-hover;
  }
  &:active
  {
    top: 3px;
  }
}
