@using Sandbox
@using Sandbox.Menu
@using Sandbox.UI
@namespace Garryware.UI.GameMenu
@attribute [StyleSheet]
@inherits Panel;

<root onclick="@JoinLobby">
    <label>@(Lobby?.Title ?? "null Lobby")</label>
    <span style="margin-left: auto"></span>
    <label>@Lobby?.MemberCount/@Lobby?.MaxMembers</label>
</root>

@code
{
    public ILobby Lobby { get; set; }

    private async void JoinLobby()
    {
        LoadingOverlay.Show();
        await Lobby.JoinAsync();
        if (Game.Menu.Lobby != null)
        {
            this.Navigate("/lobby");
        }
        LoadingOverlay.Hide();
    }
    
}
