@using Sandbox.Menu
@using Sandbox.Razor
@using Sandbox.UI
@namespace Garryware.UI.GameMenu
@attribute [StyleSheet]
@inherits Panel;

<root onclick="@JoinLobby">
    <label>@(Lobby?.Title ?? "null Lobby")</label>
    <span style="margin-left: auto"></span>
    <label>@Lobby?.MemberCount/@Lobby?.MemberCount</label>
</root>

@code
{
    public ILobby Lobby { get; set; }

    private void JoinLobby()
    {
        Log.Info("attempt to join lobby!");
    }
    
}
