@using Sandbox.Razor
@using Sandbox.UI
@namespace Garryware.UI.GameMenu
@attribute [StyleSheet]

@inherits Panel

<root>
    <div class="loading">
        <svg class="spinner" Src="ui/star-rings.svg" Color=@Color.White.Hex></svg>
    </div>
</root>

@code
{
    private static Panel Instance { get; set; }

    protected override void OnAfterTreeRender(bool firstTime)
    {
        base.OnAfterTreeRender(firstTime);
        
        if (firstTime)
        {
            Instance = this;
            Hide();
        }
    }

    public static void Hide()
    {
        Instance.Style.Display = DisplayMode.None;
    }
    
    public static void Show()
    {
        Instance.Style.Display = DisplayMode.Flex;
    }

}