@using System.Collections.Generic
@using Sandbox;
@using Sandbox.Menu
@using Sandbox.UI;

@namespace Garryware.UI.GameMenu
@attribute [StyleSheet]
@inherits Panel

<root>
    <div class="entries" @ref=UsersPanel>
    </div>
</root>

@code
{
    private ILobby Lobby => GarrywareGameMenu.Lobby;
    private Panel UsersPanel { get; set; }

    private bool hasBuiltList;
    private List<LobbyUser> users = new();

    protected override void OnAfterTreeRender(bool firstTime)
    {
        base.OnAfterTreeRender(firstTime);

        if (Lobby == null)
            return;
        
        Lobby.OnMemberEnter = OnMemberEnter;
        Lobby.OnMemberLeave = OnMemberLeave;

        if (!hasBuiltList)
        {
            RebuildList();
            hasBuiltList = true;
        }
    }

    private void RebuildList()
    {
        foreach (var user in users)
        {
            user.Delete();
        }
        users.Clear();
        
        foreach (var player in GarrywareGameMenu.Lobby.Members)
        {
            OnMemberEnter(player);
        }
    }
    
    private void OnMemberEnter(Friend player)
    {
        var userPanel = UsersPanel.AddChild<LobbyUser>();
        userPanel.User = player;

        users.Add(userPanel);
    }
    
    private void OnMemberLeave(Friend player)
    {
        for(int i = users.Count - 1; i >= 0; --i)
        {
            if (users[i].User.Id == player.Id)
            {
                users[i].Delete();
                users.RemoveAt(i);
            }
        }
    }

}
