@using Sandbox;
@using Sandbox.Menu
@using Sandbox.UI;

@namespace Garryware.UI.GameMenu
@attribute [StyleSheet]
@inherits Panel

<root>
    <div class="entries" @ref=EntriesPanel>
    </div>
    <TextEntry @ref=TextEntry onsubmit=@OnSubmit placeholder="Type here to chat.."/>
</root>

@code
{
    private ILobby Lobby => GarrywareGameMenu.Lobby;
    private Panel EntriesPanel { get; set; }
    private TextEntry TextEntry { get; set; }
    
    private TimeSince timeSinceLastMessage;
	
    protected override void OnAfterTreeRender(bool firstTime)
    {
        if (Lobby != null)
        {
            Lobby.OnChatMessage = OnChatMessage;
        }
    }

    private void OnChatMessage(Friend friend, string message)
    {
        Log.Info($"[Chat] {friend.Id}: {message}" );

        var newEntry = new LobbyChatEntry()
        {
            User = friend,
            Message = message
        };
        EntriesPanel.AddChild(newEntry);
    }
    
    private void OnSubmit(PanelEvent e)
    {
        if (timeSinceLastMessage < 1)
            return;

        Lobby.SendChat(TextEntry.Text);
        TextEntry.Text = "";
        TextEntry.Focus();
        
        timeSinceLastMessage = 0;
    }

    public override void Tick()
    {
        base.Tick();

        if (!EntriesPanel.IsScrollAtBottom)
        {
            EntriesPanel?.TryScrollToBottom();
        }
    }

}