@using Sandbox;
@using Sandbox.UI;

@namespace Garryware.UI.GameMenu
@attribute [StyleSheet]

@inherits Panel

<root>
    <div class="background" />

    @if (User.Id != 0)
    {
        <img src="avatar:@User.Id"/>
        <label class="name">@User.Name</label>
    }
    <div style="width: 8px;"/>
    <label class="message">@Message</label>
</root>

@code
{
    public Friend User { get; set; }
    public string Message { get; set; }
}
