@using Sandbox.Razor
@using Sandbox.UI
@namespace Garryware.UI.GameMenu
@attribute [StyleSheet]

<root class="card">
    <div class="card-icon">@Icon</div>
    <div class="card-text">
        <label>@Title</label>
        <label class="desc">@Desc1</label>
        <label class="desc">@Desc2</label>
    </div>
</root>

@code
{
    public RenderFragment Icon { get; set; }
    public RenderFragment Title { get; set; }
    public RenderFragment Desc1 { get; set; }
    public RenderFragment Desc2 { get; set; }
}
