.mini-scoreboard
{
	position: absolute;
	flex-direction: column;
	font-family: Poppins;
	font-size: 24px;
	font-weight: 500;
	color: white;
	left: 2%;
	top: 2%;
	align-items: center;
	justify-content: center;
	transition: all 0.1s ease-out;
	transform-origin: 50% 50%;

	.header
	{
		font-weight: 300;
		text-stroke: 4px #000;
	}
	
	.roundcount
	{
		font-weight: 800;
	}
	
	.name
	{
		flex-grow: 1;

		&.me
		{
			color: #b6ff00;
		}
	}
	
	.place
	{
		width: 40px;
		text-align: left;
		text-shadow: 0 0 black;
	}

	.points
	{
		width: 100px;
		text-align: right;
	}

	.fire
	{
		z-index: 99;
		position: absolute;
		right: 48px;
		bottom: 0;
		
		font-size: 48px;
		text-shadow: 0 0 black;
	}
	
	.streak
	{
		z-index: 100;
		position: absolute;
		width: 100%;
		bottom: 4px;

		font-size: 24px;
		text-stroke: 5px #000;
		text-align: center;
	}
	
	.canvas
	{
		flex-direction: column;
		min-height: 50%;
		min-width: 30%;

		.entry
		{
			margin-bottom: 2px;
			padding: 4px;
			background-color: rgba(#111, 0.6);
			text-shadow: 2px 2px #000;

			&.fifth-or-worse
			{
				margin-top: 20px;
			}

			&.gold
			{
				background-color: rgba(gold, 0.6);
			}

			&.silver
			{
				background-color: rgba(silver, 0.8);
			}

			&.bronze
			{
				background-color: rgba(#cd7f32, 0.8);
			}
		}

		.won
		{
			background-color: rgba(#040, 0.6);
		}

		.lost
		{
			background-color: rgba(#400, 0.6);
		}
	}	
}
