{
  "Actions": [
    {
      "Name": "Forward",
      "KeyboardCode": "W",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Backward",
      "KeyboardCode": "S",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Left",
      "KeyboardCode": "A",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Right",
      "KeyboardCode": "D",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Jump",
      "KeyboardCode": "space",
      "GamepadCode": "A",
      "GroupName": "Movement"
    },
    {
      "Name": "Run",
      "KeyboardCode": "shift",
      "GamepadCode": "LeftJoystickButton",
      "GroupName": "Movement"
    },
    {
      "Name": "Walk",
      "KeyboardCode": "alt",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Duck",
      "KeyboardCode": "ctrl",
      "GamepadCode": "B",
      "GroupName": "Movement"
    },
    {
      "Name": "attack1",
      "KeyboardCode": "mouse1",
      "GamepadCode": "RightTrigger",
      "GroupName": "Actions"
    },
    {
      "Name": "attack2",
      "KeyboardCode": "mouse2",
      "GamepadCode": "LeftTrigger",
      "GroupName": "Actions"
    },
    {
      "Name": "Reload",
      "KeyboardCode": "r",
      "GamepadCode": "X",
      "GroupName": "Actions"
    },
    {
      "Name": "Use",
      "KeyboardCode": "e",
      "GamepadCode": "Y",
      "GroupName": "Actions"
    },
    {
      "Name": "Voice",
      "KeyboardCode": "v",
      "GamepadCode": "RightJoystickButton",
      "GroupName": "Other"
    },
    {
      "Name": "Drop",
      "KeyboardCode": "g",
      "GamepadCode": "RightJoystickButton",
      "GroupName": "Actions"
    },
    {
      "Name": "ReadyUp",
      "KeyboardCode": "F",
      "GamepadCode": "DpadNorth",
      "GroupName": "Actions"
    },
    {
      "Name": "Score",
      "KeyboardCode": "tab",
      "GamepadCode": "SwitchLeftMenu",
      "GroupName": "Other"
    },
    {
      "Name": "Chat",
      "KeyboardCode": "enter",
      "GamepadCode": "None",
      "GroupName": "Other"
    }
  ],
  "__guid": "4635cea2-3a01-464c-87fb-0dcf006dab22",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}